<div class="aptracker-primary-header">
    <h1>Управление клиентами</h1>
</div>

<div
 fxLayout="row" 
 fxLayout.lt-sm="column" 
 fxLayoutAlign="space-around center" 
 class="container"
 >
    <!--clients-->
    <div fxFlex="30">
        <mat-card>
            <mat-card-header>
                <mat-card-title>CLIENTS</mat-card-title>
            </mat-card-header>

            <mat-form-field class="adjust-form">
                <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
                <mat-icon matSuffix>search</mat-icon>
            </mat-form-field>

            <mat-action-list class="scrollbar" dense >
                <button mat-list-item *ngFor="let client of clients" id="active-li" >
                    <span  mat-line id="header-li"> {{ client.name }} </span>
                    <span mat-line>  project: {{ client.project }} </span>
                    <span mat-line>  profile: {{ client.profile }} </span>
                    <mat-divider></mat-divider>
                </button >

            </mat-action-list>

            <br>
            <button mat-stroked-button color="primary">
                Add client
            </button>
        </mat-card>
        <!-- <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator> -->
    </div>

<div fxFlex="30">
        <mat-card>
            <mat-card-header>
                <mat-card-title>CLIENTS</mat-card-title>
            </mat-card-header>
<!--  -->
            <form class="input-client">
                <mat-form-field id="input-size">
                    <input matInput placeholder="Name" value="client">
                </mat-form-field>
                <mat-form-field id="input-size">
                    <input type="text" placeholder="Pick one" aria-label="Number" matInput [formControl]="myControl" [matAutocomplete]="auto">
                    <mat-autocomplete #auto="matAutocomplete">
                        <mat-option *ngFor="let option of options" [value]="option">
                                {{option}}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
            </form>
            <span>
                <p>Projects: Active projects name</p>
                <h4 align="center">Projects</h4>
            </span>

            <div class="search-add-section">
                <mat-form-field id="input-size" *ngIf="isShowinput">
                    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter" >
                    <mat-icon matSuffix>search</mat-icon>
                </mat-form-field>
                <button mat-icon-button (click)=showInput() *ngIf="!isShowinput"> <mat-icon>search</mat-icon></button>
                <button mat-icon-button  color="primary">
                    <mat-icon>add</mat-icon>
                </button>
            </div>

            <mat-action-list class="scrollbar" dense >
                <button mat-list-item *ngFor="let client of clients" id="active-li" >
                    <span  mat-line id="header-li"> {{ client.name }} </span>
                    <span mat-line>  Article: {{ client.project }} </span>
                    <span mat-line>  profile: {{ client.profile }} </span>
                    <mat-divider></mat-divider>
                </button >

            </mat-action-list>

            <br>
            <!-- <button mat-stroked-button color="primary">
                Add client
            </button> -->
        </mat-card>
        <!-- <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator> -->
    </div>
    <div fxFlex="30">
        <mat-card>
            <mat-card-header>
                <mat-card-title>PROJECTS</mat-card-title>
            </mat-card-header>
<!--  -->
            <form class="input-client">
                <mat-form-field id="input-size">
                    <input matInput placeholder="Name" value="client">
                </mat-form-field>
                <mat-form-field id="input-size">
                    <input type="text" placeholder="Pick one" aria-label="Number" matInput [formControl]="myControl" [matAutocomplete]="auto">
                    <mat-autocomplete #auto="matAutocomplete">
                        <mat-option *ngFor="let option of options" [value]="option">
                                {{option}}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
            </form>
            <span>
                <p>Article: Active article name</p>
                <h4 align="center">Articles</h4>
            </span>

            <div class="add-section">
                <!-- <mat-form-field id="input-size" *ngIf="isShowinput">
                    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter" >
                    <mat-icon matSuffix>search</mat-icon>
                </mat-form-field>
                <button mat-icon-button (click)=showInput() *ngIf="!isShowinput"> <mat-icon>search</mat-icon></button> -->
                <button mat-icon-button  color="primary">
                    <mat-icon>add</mat-icon>
                </button>
            </div>

            <mat-action-list class="scrollbar" dense >
                <button mat-list-item *ngFor="let client of clients" id="active-li" >
                    <span  mat-line id="header-li"> {{ client.name }} </span>
                    <span mat-line>  Article: {{ client.project }} </span>
                    <span mat-line>  profile: {{ client.profile }} </span>
                    <mat-divider></mat-divider>
                </button >

            </mat-action-list>

            <br>
            <!-- <button mat-stroked-button color="primary">
                Add client
            </button> -->
        </mat-card>
        <!-- <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator> -->
    </div>

</div>