<div class="aptracker-primary-header">
    <h1>Управление клиентами</h1>
</div>

<div
 fxLayout="row" 
 fxLayout.lt-sm="column" 
 fxLayoutAlign="space-around center" 
 class="container"
 >
    <!-- style="height: 100%" -->


    <!--clients-->
    <div fxFlex="30">
        <mat-card>
            <mat-card-header>
                <mat-card-title>CLIENTS</mat-card-title>
            </mat-card-header>

            <mat-form-field>
                <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
                <mat-icon matSuffix>search</mat-icon>
            </mat-form-field>
            <!-- <cdk-virtual-scroll-viewport itemSize="100" class="example-viewport"> -->
            <mat-list class="scrollbar" dense >
                <mat-list-item *ngFor="let client of ClientData" >
                    <span mat-line id="header-li"> {{ client.name }} </span>
                    <span mat-line> Active project: {{ client.activeNum }} </span>
                    <button mat-icon-button [matMenuTriggerFor]="menu">
                        <mat-icon class="mat-24">more_vert</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu">
                        <button mat-menu-item>
                            <mat-icon>edit</mat-icon>
                            <span>Update</span>
                        </button>
                        <button mat-menu-item (click)=Displayproj()>
                            <mat-icon>folder</mat-icon>
                            <span>Project</span>
                        </button>
                    </mat-menu>
                    <mat-divider></mat-divider>
                </mat-list-item>

            </mat-list>
            <!-- </cdk-virtual-scroll-viewport> -->

            <br>
            <button mat-stroked-button color="primary">
                Add client
            </button>
        </mat-card>
        <!-- <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator> -->
    </div>

    <!--Projects-->
    <div fxFlex="30" *ngIf="isShowp">
        <mat-card>
            <mat-card-header>
                <mat-card-title>PROJECTS</mat-card-title>
            </mat-card-header>

            <mat-form-field >
                    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
                    <mat-icon matSuffix>search</mat-icon>
            </mat-form-field>

            <mat-list class="scrollbar" dense>
                <mat-list-item *ngFor="let client of ClientData">
                    <span mat-line id="header-li"> {{ client.name }} </span>
                    <span mat-line> Active article: {{ client.activeNum }} </span>
                    <button mat-icon-button [matMenuTriggerFor]="menu">
                        <mat-icon class="mat-24">more_vert</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu">
                        <button mat-menu-item>
                            <mat-icon>edit</mat-icon>
                            <span>Update</span>
                        </button>
                        <button mat-menu-item (click)=Displayart()>
                            <mat-icon>folder</mat-icon>
                            <span>Articles</span>
                        </button>
                    </mat-menu>
                    <mat-divider></mat-divider>
                </mat-list-item>
            </mat-list>
            <br>
            <button mat-stroked-button color="primary">
                Add Project
            </button>
        </mat-card>
    </div>

    <!--Article-->
    <div fxFlex="30" *ngIf="isShowa">
        <mat-card>
            <mat-card-header>
                <mat-card-title>ARTICLE</mat-card-title>
            </mat-card-header>

            <!-- <mat-form-field >
                    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
                    <mat-icon matSuffix>search</mat-icon>
                </mat-form-field> -->

            <mat-list dense>
                <mat-list-item *ngFor="let article of ArticleData">
                    <span mat-line id="header-li"> {{ article.name }} </span>
                    <span mat-line> Total of hours: {{ article.activeNum }} </span>
                    <button mat-icon-button [matMenuTriggerFor]="menu">
                        <mat-icon class="mat-24">more_vert</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu">
                        <button mat-menu-item>
                            <mat-icon>edit</mat-icon>
                            <span>Update</span>
                        </button>
                        <!-- <button mat-menu-item (click) = toggleDisplay()>
                            <mat-icon>folder</mat-icon>
                            <span>Articles</span>
                        </button> -->
                    </mat-menu>
                    <mat-divider></mat-divider>
                </mat-list-item>
            </mat-list>
            <br>
            <button mat-stroked-button color="primary">
                Add article
            </button>
        </mat-card>
    </div>

</div>