 @import '@angular/material/prebuilt-themes/indigo-pink.css';

.mat-stroked-button {
  display: block;
  margin: auto;
}

.mat-form-field{
  display: flex;
  justify-content: center;
  font-size: 14px;
}

.mat-card-header{
 display: flex;
  justify-content: center;
}