
.card-table{
    padding-left: 5px;
    padding-top: 5px;
    padding-right: 5px;
}

table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  td, th {
    width: 25%;
  }
  