//  .requireFill-custom-date-class {
    
//     border-radius: 100%;
  
// }

.requireFill-custom-date-class .mat-calendar-body-cell-content {
  color: red;
  font-style: bold;
  font-weight: 500;
}

.filled-custom-date-class .mat-calendar-body-cell-content {
  color: green;
  font-style: bold;
  font-weight: 500;
  }

  .itWeekends-custom-date-class .mat-calendar-body-cell-content {
    //color: green;
    font-style: italic;
    font-weight: 500;
  }

 