app-report-page h1 {
    text-align: center;
    padding: 25px;
}

app-report-page mat-card {
    margin-right: auto;
    margin-left:  auto;
    width: 50%;
}

@media (max-width: 1024px) {
    app-report-page mat-card {
        width: 99% !important;
    }
}

@media (max-width: 600px) {
    app-report-page .add-form {
        width: 99% !important;
    }
}

app-report-page .main-list {
    margin-right: auto;
    margin-left:  auto;
    max-width: 500px;
}

app-report-page .nested-list {
    margin-left: 30px;
}

app-report-page .mat-list-base {
    padding-top: 0;
}

app-report-page .mat-list-item {
    padding: 6px 0 !important;
}

app-report-page .mat-list-base .mat-list-item, 
app-report-page .mat-list-base .mat-list-option {
    height: min-content;
}

app-report-page .container .mat-form-field-flex > .mat-form-field-infix {
    padding: 0.4em 0px !important;
    border-top: 0.2575em solid transparent;
}
app-report-page .container .mat-form-field-label-wrapper { top: -1.5em; }

app-report-page .container .mat-form-field-appearance-outline .mat-form-field-wrapper {
    margin: 0;
}

app-report-page .container .mat-form-field-wrapper {
    padding-bottom: 0;
}

app-report-page .add-section {
    display:flex;
    justify-content: center;
    
    button {
        margin-left: 10px;
        bottom: 4px;
    }
}