h1 {
  text-align: center;
  padding-top : 25px;
}

.card {
  margin-right: auto;
  margin-left:  auto;
  width: 50%;
  box-shadow: 0 0 1px black;
}

@media (max-width: 1024px) {
  .card {
    width: 99%;
  }
}


.main-list {
  margin-right: auto;
  margin-left:  auto;
  max-width: 500px;
}

.nested-list {
  margin-left: 30px;
}

mat-list {
  padding-top: 0px !important;
}

/*
::ng-deep .mat-form-field-flex > .mat-form-field-infix { padding: 0.2em 0px !important;}
::ng-deep .mat-form-field-label-wrapper { top: -1.5em; }

::ng-deep .mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
    transform: translateY(-1.1em) scale(.75);
    width: 133.33333%;
}*/
// .mat-form-field-appearance-outline .mat-form-field-wrapper {
//   margin: 0 0 !important;
//}

// ::ng-deep .mat-form-field-appearance-outline .mat-form-field-flex {
//   padding: 0.25em .75em 0.25em .75em !important;
// }

// ::ng-deep .mat-form-field-appearance-outline .mat-form-field-infix {
//   padding: 0 !important;
//   border-top: 0 !important;
// }

// ::ng-deep .mat-form-field-appearance-outline .mat-form-field-wrapper {
//   margin: 0 !important;
// }

::ng-deep .special-field .mat-form-field-infix {
  border-top: 0.2375em solid transparent;
  padding: 0 !important;
}

.mat-list-base .mat-list-item, .mat-list-base .mat-list-option {
  height: 40px;
}
