h1 {
  text-align: center;
  padding-top : 25px;
}

.card {
  margin-right: auto;
  margin-left:  auto;
  width: 99%;
  box-shadow: 0 0 1px black;
}

.main-list {
  margin-right: auto;
  margin-left:  auto;
  max-width: 500px;
}

mat-list {
  padding-top: 0px !important;
}


