<div class="card">
  <h1>Отчет</h1>

  <mat-list class="main-list">
    <!-- Клиенты - список -->
    <ng-container *ngFor="let item of items">
      <mat-list-item>{{item.name}}</mat-list-item>
      <mat-list class="nested-list">
        <!-- Проекты - список -->
        <div *ngFor="let project of item.projects">
          <mat-list-item>{{project.name}}</mat-list-item>
          <mat-list class="nested-list">
            <!-- Затраты - список -->
            <div *ngFor="let expense of project.expenses">
              <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutAlign="left">
                <span fxFlex="80%">
                  {{expense.name}}
                </span>
                <!-- floatLabel="never" -->
                <mat-form-field fxFlex="20%" style="width: 100px;" appearance="outline" class="special-field">
                  <input type="number" class="form-control" matInput name="value" placeholder="" formControlName="value"
                    step="10">
                </mat-form-field>
              </div>
            </div>
          </mat-list>
        </div>
      </mat-list>
    </ng-container>
  </mat-list>
</div>