<div class="aptracker-primary-header-report mat-elevation-z3">
  <div class="aptracker-primary-header-label"
    style="display: flex; justify-content: space-between; align-items: center; height: 100%;">
    <h1>Ежедневный отчет</h1>
    <ng-container *ngIf="reportState != 1">
      <button (click)="selectClient()" mat-fab style="position: fixed; bottom: 25px; right: 25px; z-index: 9999;">
        <mat-icon>add</mat-icon>
      </button>
      <button mat-raised-button color="accent" (click)="onSubmit()">
        Завершить заполнение
      </button>
    </ng-container>
  </div>
</div>
<mat-progress-bar mode="determinate" value="{{percent}}"></mat-progress-bar>

<main>
  <span style="display: block;
    margin-left: auto; margin-right: auto;
    text-align: center;">
    {{percent}}%
  </span>
  <br>
  <div class="custom-calendar">
    <app-custom-calendar #calendar [dates]="dates" [dateFormControl]="dateFormControl">
    </app-custom-calendar>
  </div>

  <form [formGroup]="form" (submit)="submit(1)">
    <mat-list formArrayName="commonArticles" class="main-list" style="padding: 0">
      <ng-container *ngFor="let article of commonArticles.controls; let articleIndex=index">
        <ng-container [formGroupName]="articleIndex">
          <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutAlign="left">
            <span fxFlex="80%" style="word-wrap:break-word;">
              {{article.value.name}}
            </span>
            <mat-form-field fxFlex="20%" style="width: 100px;" class="expense-form" appearance="outline"
              floatLabel="never">
              <input formControlName="time" type="text" matInput #expenseTime (focusout)="finish($event)"
                (change)="submit(0)" (input)="input()" placeholder="0.0" mask="0*.9" [dropSpecialCharacters]="false"
                [patterns]="customPatterns" />

            </mat-form-field>
          </div>
        </ng-container>
      </ng-container>
    </mat-list>
    <mat-list formArrayName="clients" class="main-list" style="padding:0">
      <ng-container *ngFor="let client of clients.controls; let cIndex=index">
        <ng-container *ngIf="client.value.isChecked">
          <mat-list-item>
            {{client.value.name}}
            <span (click)="showProjects(cIndex)" style="margin-left: auto;" class="textButton">показать другие
              проекты</span>
          </mat-list-item>
          <ng-container [formGroupName]="cIndex">
            <mat-list formArrayName="projects" class="nested-list">
              <ng-container *ngFor="let project of getProjectsFor(cIndex);
              let pIndex=index">
                <ng-container *ngIf="project.value.isChecked">
                  <mat-list-item>
                    {{project.value.name}}
                    <span (click)="showArticles(cIndex, pIndex)" style="margin-left: auto;" class="textButton">показать
                      все статьи</span>
                  </mat-list-item>
                  <ng-container [formGroupName]="pIndex">
                    <mat-list formArrayName="articles" class="nested-list">
                      <ng-container *ngFor="let article of getArticlesFor(cIndex, pIndex);
                      let aIndex=index">
                        <ng-container *ngIf="article.value.isChecked">
                          <ng-container [formGroupName]="aIndex">
                            <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap
                              fxLayoutAlign="left">
                              <span fxFlex="80%" style="word-wrap:break-word;">
                                {{article.value.name}}
                              </span>

                              <mat-form-field fxFlex="20%" style="width: 100px;" class="expense-form"
                                appearance="outline" floatLabel="never">
                                <input name="article" formControlName="time" type="text" matInput #expenseTime
                                  (focusout)="finish($event)" (change)="submit(0)" (input)="input()" mask="0*.9"
                                  [dropSpecialCharacters]="false" [patterns]="customPatterns" placeholder="0.0" />

                              </mat-form-field>
                            </div>
                          </ng-container>
                        </ng-container>
                      </ng-container>
                    </mat-list>
                  </ng-container>
                </ng-container>
              </ng-container>
            </mat-list>
          </ng-container>
        </ng-container>
      </ng-container>
    </mat-list>
  </form>
</main>