<h1 mat-dialog-title>Создание клиента</h1>
<div [formGroup]="form" mat-dialog-content fxLayout="column" fxLayoutAlign="space-around stretch">
    <mat-form-field>

        <input matInput placeholder="Название" formControlName="name">
        <mat-error *ngIf="controlHasErrors('name')">
            Название должно иметь длину от 5 до 15 символов
        </mat-error>
    </mat-form-field>
    <ng-select [items]="bags" dropdownPosition="auto" appendTo="body" bindValue="id" bindLabel="name"
        placeholder="Портфель" [virtualScroll]="true" formControlName="bagId">
    </ng-select>
    <mat-error *ngIf="controlHasErrors('bagId')">
        Укажите портфель
    </mat-error>
</div>
<div mat-dialog-actions>
    <button mat-button [mat-dialog-close]="null">Отмена</button>
    <button mat-button (click)="submit()" [disabled]="form.invalid" cdkFocusInitial>Создать</button>
</div>