<form [formGroup]="form" (ngSubmit)="submit(form)">
    <h1 mat-dialog-title>Создать портфель</h1>
    <div mat-dialog-content>
        <p>
            <mat-form-field>
                <mat-label>Название</mat-label>
                <input matInput formControlName="name" placeholder="Название портфеля">
            </mat-form-field>
        </p>
        <p>
            <ng-select [items]="users" #select dropdownPosition="auto" appendTo="body" bindValue="id" bindLabel="name"
                placeholder="Ответственный" [virtualScroll]="true" formControlName="responsibleId">
            </ng-select>
        </p>

    </div>
    <div mat-dialog-actions>
        <button mat-button type="submit" cdkFocusInitial>Создать</button>
        <button mat-button type="button" [mat-dialog-close]="null">Отмена</button>
    </div>
</form>