
<div class="card">
  <mat-card class="mat-elevation-z8">
    <div class="content" >
      <h2>Join Time Tracker.</h2>
      <br>
      <button mat-stroked-button color="primary"(click)="login()">
        <mat-icon>perm_identity</mat-icon>
        Войти
      </button>
      <br>
      <span>Sign up with Email</span>
    
      <p>To make TimeTraker work, we log user data and 
        share it with service providers.Click "Sign Up"
        above to accept TimeTracker Terms of service & Privacy Policy.
      </p>
    </div>

  </mat-card>

</div>


<!-- <div>
  <button mat-button (click)="login()">Войти</button>
</div> -->