@import '../node_modules/@angular/material/theming';

@import './app/shared/navbar/navbar-theme';
@import './app/pages/hierarchy-page/hierarchy-page-theme';
@import './app/pages/users-management-page/users-management-page-theme';


// Styles for the docs app that are based on the current theme.
@mixin aptracker-app-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);
  $next-theme: mat-palette($mat-red);

  .aptracker-app-background {
    background: mat-color($background, background);
  }

  .aptracker-primary-header {
    background: mat-color($primary);

    h1 {
      //margin-left:10px;
      //margin-top:0px;
      color: mat-color($primary, default-contrast);
      font-size: 22px;
    }
  }

  .aptracker-footer {
    background: mat-color($primary);
    color: mat-color($primary, default-contrast);
  }

  .is-next-version {
    background: mat-color($next-theme, 900) !important;
  }

  @include nav-bar-theme($theme);
  @include hierarchy-page-theme($theme);
  @include users-management-page-theme($theme);
}

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$primary: mat-palette($mat-indigo);
$accent:  mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$theme: mat-light-theme($primary, $accent, $warn);