<div class="aptracker-primary-header-users mat-elevation-z3">
    <div class="aptracker-primary-header-label"
        style="display: flex; justify-content: space-between; align-items: center; height: 100%;">
        <h1>Управление портфелями</h1>
        <div class="aptracker-users-search">
            <mat-form-field>
                <mat-label>Поиск</mat-label>
                <input matInput [(ngModel)]="searchBag">
            </mat-form-field>
        </div>

    </div>


</div>
<div class="example-sidenav-content" style="position: absolute; top: 90px; bottom: 0px; left:0; right: 300px;">
    <mat-progress-bar *ngIf="isLoadingBags" mode="query" style="width: 100%">
    </mat-progress-bar>
    <mat-list>
        <mat-list-item *ngFor="let bag of bags | filter: searchBag" matRipple [class.active-user]="bag == selectedBag"
            (click)="onBagSelected(bag)">
            <h4 mat-line>{{bag.name}}</h4>
            <span mat-line>Ответственный: {{ bag.responsible ? bag.responsible.name : 'не задан' }}</span>
        </mat-list-item>
    </mat-list>
</div>


<mat-drawer-container class="example-container mat-elevation-z2"
    style="position: fixed; top: 56px; z-index: 10; right: 0; bottom: 0; width: 300px;">

    <mat-drawer #drawer class="example-sidenav mat-elevation-z2" mode="side" opened="true" position="end"
        style="width: 300px;">
        <div [formGroup]="form" class="user-info" *ngIf="selectedBag != null">
            Портфель {{selectedBag.name}}
            <p>
                <mat-form-field style="width: 100%;">
                    <mat-label>Название портфеля</mat-label>
                    <input matInput formControlName="name">
                </mat-form-field>
            </p>
            <p>
                <ng-select [items]="users" #select dropdownPosition="auto" bindValue="id" bindLabel="name"
                    placeholder="Ответственный" [virtualScroll]="true" formControlName="responsibleId">
                </ng-select>
            </p>

            <div align="center">
                <button mat-raised-button color="accent" [routerLink]="['/bag-management', selectedBag.id]">Управлять
                    портфелем</button>
            </div>
        </div>

        <div class="select-info" *ngIf="selectedBag == null"
            style="display: flex; flex-direction: column; align-items: stretch; justify-content: center; width: 100%; height: 100%; text-align: center;">

            <div>Выберите портфель из списка</div>

        </div>
    </mat-drawer>
    <button mat-fab style="position: fixed; bottom: 25px; right: 325px; z-index: 9999;" (click)="createBagClick()">
        <mat-icon>add</mat-icon>
    </button>
</mat-drawer-container>